.register, .logout{
    border-radius: 10px;
    color: #fff !important;
    width: 100px;
    text-align: center;
    padding: 5px;
    text-indent: 0%;
}

.register{
    background-color: #219CE1;
}

.logout{
    background-color: #ff0000;
}

.register:hover{
    background-color: #2c8dc5;
    color: #fff;
    transition: 0.5s;
}

.logout:hover{
    background-color: #c01f1f;
    color: #fff;
    transition: 0.5s;
}

.signin{
    color: #111 !important;
}