.register {
    border-radius: 10px;
    color: #fff !important;
    width: 100px;
    text-align: center;
    padding: 5px;
    text-indent: 0%;
}

.register,
#userDropdown,
.dropdown-item:active {
    background-color: #219CE1 !important;
    color: #fff !important;
}

.button_class_name:active {
    background-color: red;
}

.register:hover {
    background-color: #2c8dc5;
    color: #fff;
    transition: 0.5s;
}

.logout:hover {
    background-color: #c01f1f !important;
    color: #fff !important;
    transition: 0.5s;
}

.signin {
    color: #111 !important;
}